* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
    font-family: 'Inter';
    font-size: 16px;
    margin: 0 auto;
}

nav {
    padding: 16px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.menu ul li{
    display: inline;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    line-height: 18px;
    padding: 12px 16px;
    background-color:#30B868;
    border-radius: 4px;
    border: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: #30B868;
    background-color: transparent;
    border: 1px solid #30B868;
}

.hero {
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 70px 120px 134px 120px;
}

.highlighter {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 50px;
}

.highlighter h4 {
    color: #30B868;;
    font-size: 16px;
    font-weight: 600;
}

h1 {
    color: white;
    opacity: 0.9;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
}

h1 span {
    color: #30B868;
}

.hero p {
    color: white ;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 16px;
}

.transparentBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    line-height: 18px;
    padding: 12px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.transparentBtn:hover {
    border: 1px solid #30B868;
    color: #30B868;
    transform: scale(1.05);
}

.cardSection {
    background-color: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 70px 120px 30px 120px;
}

h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}

.cardSection p {
    color: #627382 ;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    gap:24px;
}

.card {
    width: auto;
    height: 300px;                               
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.iconDiv {
    width: 60px;
    height: 60px;
    background-color: #30B868;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}

.info {
    padding: 120px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.knowledge {
    width: 600px;
    height: 600px;
}

.infoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.infoContent h5 {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.infoContent p {
    width: 75%;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

ul.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

li.items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li.items img {
    width: 20px;
    height: 20px;
}

.CTA {
    padding: 0px 120px 120px 120px;
}

.inner{
    background-color:#F7F6F2;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.inner .btn {
    margin-top: 8px;
}

.inner p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

footer {
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.social p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social li {
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    font-size: 14px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    border-top: 1px solid #c4c4c43d;
}

.bottom p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
}