* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
    font-family: 'Inter';
    font-size: 16px;
    margin: 0 auto;
}

nav {
    padding: 16px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.menu ul li{
    display: inline;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    line-height: 18px;
    padding: 12px 16px;
    background-color:#30B868;
    border-radius: 4px;
    border: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: #30B868;
    background-color: transparent;
    border: 1px solid #30B868;
}